<h2>
  Parent Component
</h2>
<form>
  <select id="table1">
    <option value="">Select Year</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
  </select>
  <select id="table2">
    <option value="">Select Month</option>
    <option value="December">December</option>
    <option value="January">January</option>
    <option value="February">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
  </select>
</form>
<div class="flex">
  <div class="child">
    <app-child-one></app-child-one>
  </div>
  <div class="child">
    <app-child-two></app-child-two>
  </div>